USE [CSDLSieuThiMini]
GO
/****** Object:  Table [dbo].[CHITIETHOADONNHAP]    Script Date: 7/14/2020 6:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADONNHAP](
	[MAHDN] [int] NOT NULL,
	[MASP] [int] NOT NULL,
	[TENSP] [nvarchar](max) NULL,
	[SOLUONG] [int] NULL,
	[GIATIEN] [int] NULL,
 CONSTRAINT [PK_CHITIETHOADONNHAP] PRIMARY KEY CLUSTERED 
(
	[MAHDN] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADONXUAT]    Script Date: 7/14/2020 6:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADONXUAT](
	[MAHDX] [int] NOT NULL,
	[MASP] [int] NOT NULL,
	[TENSP] [nvarchar](max) NULL,
	[SOLUONG] [int] NULL,
	[GIATIEN] [int] NULL,
	[GIAMGIA] [varchar](max) NULL,
 CONSTRAINT [PK_CHITIETHOADONXUAT] PRIMARY KEY CLUSTERED 
(
	[MAHDX] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONNHAP]    Script Date: 7/14/2020 6:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNHAP](
	[MAHDN] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[NGAYNHAP] [datetime] NULL,
	[TONGTIEN] [int] NULL,
 CONSTRAINT [PK_HOADONNHAP] PRIMARY KEY CLUSTERED 
(
	[MAHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONXUAT]    Script Date: 7/14/2020 6:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONXUAT](
	[MAHDX] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[TENNV] [nvarchar](max) NULL,
	[MAKH] [int] NULL,
	[NGAYLAP] [datetime] NULL,
	[SODIEMSUDUNG] [int] NULL,
	[TONGTIEN] [int] NULL,
 CONSTRAINT [PK_HOADONXUAT] PRIMARY KEY CLUSTERED 
(
	[MAHDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 7/14/2020 6:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](max) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[TICHDIEM] [int] NULL,
	[SDT] [varchar](12) NULL,
	[XOA] [bit] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUTICHDIEM]    Script Date: 7/14/2020 6:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUTICHDIEM](
	[MALICHSU] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NULL,
	[MAHD] [int] NULL,
 CONSTRAINT [PK_LICHSUTICHDIEM] PRIMARY KEY CLUSTERED 
(
	[MALICHSU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAINHANVIEN]    Script Date: 7/14/2020 6:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAINHANVIEN](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](max) NULL,
	[XOA] [bit] NULL,
 CONSTRAINT [PK_LOAINHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 7/14/2020 6:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](max) NULL,
	[XOA] [bit] NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 7/14/2020 6:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [int] IDENTITY(1,1) NOT NULL,
	[TENNCC] [nvarchar](max) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[SDT] [varchar](12) NULL,
	[XOA] [bit] NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 7/14/2020 6:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](max) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[LOAINV] [int] NULL,
	[TENTK] [varchar](50) NULL,
	[MATKHAU] [varchar](50) NULL,
	[SDT] [varchar](12) NULL,
	[GIOITINH] [bit] NULL,
	[XOA] [bit] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 7/14/2020 6:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[MALOAI] [int] NULL,
	[MANCC] [int] NULL,
	[TENSP] [nvarchar](max) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
	[HINHANH] [nvarchar](max) NULL,
	[XOA] [bit] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CHITIETHOADONXUAT] ([MAHDX], [MASP], [TENSP], [SOLUONG], [GIATIEN], [GIAMGIA]) VALUES (1, 1, N'TEPPY nước cam ép', 1, 10000, N'0')
INSERT [dbo].[CHITIETHOADONXUAT] ([MAHDX], [MASP], [TENSP], [SOLUONG], [GIATIEN], [GIAMGIA]) VALUES (1, 2, N'Tropicana Twister', 1, 10000, N'0')
INSERT [dbo].[CHITIETHOADONXUAT] ([MAHDX], [MASP], [TENSP], [SOLUONG], [GIATIEN], [GIAMGIA]) VALUES (1, 5, N'Pepsi', 1, 10000, N'0')
SET IDENTITY_INSERT [dbo].[HOADONXUAT] ON 

INSERT [dbo].[HOADONXUAT] ([MAHDX], [MANV], [TENNV], [MAKH], [NGAYLAP], [SODIEMSUDUNG], [TONGTIEN]) VALUES (1, 1, N'Nguyễn Hoàng Giang', 1, CAST(N'2020-10-07T00:00:00.000' AS DateTime), 0, 30000)
SET IDENTITY_INSERT [dbo].[HOADONXUAT] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [TICHDIEM], [SDT], [XOA]) VALUES (1, N'Nguyễn Chí Cường', N'Trà Vong, Tân Biên, Tây Ninh', 100, N'0368453051', 0)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [TICHDIEM], [SDT], [XOA]) VALUES (2, N'Lương Võ Khôi Hưng', N'Quảng Nam', 100, N'0359187582', 0)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [TICHDIEM], [SDT], [XOA]) VALUES (3, N'Nguyễn Văn B', N'Tây Ninh', 100, N'035918572', 0)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[LOAINHANVIEN] ON 

INSERT [dbo].[LOAINHANVIEN] ([MALOAI], [TENLOAI], [XOA]) VALUES (1, N'Nhân viên trưởng', 0)
INSERT [dbo].[LOAINHANVIEN] ([MALOAI], [TENLOAI], [XOA]) VALUES (2, N'Nhân viên', 0)
INSERT [dbo].[LOAINHANVIEN] ([MALOAI], [TENLOAI], [XOA]) VALUES (3, N'Nhân viên bán', 0)
SET IDENTITY_INSERT [dbo].[LOAINHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] ON 

INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI], [XOA]) VALUES (1, N'Chai', 0)
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI], [XOA]) VALUES (2, N'Bịt', 0)
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI], [XOA]) VALUES (3, N'Gói', 0)
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] OFF
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [XOA]) VALUES (1, N'Công ty Coca-cola Việt Nam', N'485 Xa lộ Hà Nội, Phường Linh Trung, Quận Thủ Đức, tp. HCM, Việt Nam', N'08 3896 1000', 0)
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [XOA]) VALUES (2, N'Công ty PepsiCo Tầng 5, Khách Sạn Sheraton Sài Gòn', N'88 Đồng Khởi, Q. 1,Tp. Hồ Chí Minh (TPHCM)', N'02838219437', 0)
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [XOA]) VALUES (3, N'Công ty Phạm Nguyên', N'Số 613, đường Trần Đại Nghĩa, Phường Tân Tạo A, Quận Bình Tân, TP Hồ Chí Minh ', N'0837657979', 0)
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [LOAINV], [TENTK], [MATKHAU], [SDT], [GIOITINH], [XOA]) VALUES (1, N'Nguyễn Hoàng Giang', N'Tỉnh Tây Ninh', 2, N'hoanggiang', N'hoanggiang', N'0359187582', 1, 0)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [LOAINV], [TENTK], [MATKHAU], [SDT], [GIOITINH], [XOA]) VALUES (2, N'Bùi Trung Thảo', N'TP Hồ Chí Minh', 1, N'trungthao', N'trungthao', N'0764616761', 1, 0)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [LOAINV], [TENTK], [MATKHAU], [SDT], [GIOITINH], [XOA]) VALUES (4, N'Nguyễn Thị Mai Thảo', N'Tây Ninh', 2, N'maithao', N'maithao', N'0359187582', 0, 0)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [MANCC], [TENSP], [SOLUONG], [DONGIA], [HINHANH], [XOA]) VALUES (1, 1, 1, N'TEPPY nước cam ép', 1000, 10000, NULL, 0)
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [MANCC], [TENSP], [SOLUONG], [DONGIA], [HINHANH], [XOA]) VALUES (2, 1, 1, N'Tropicana Twister', 1000, 10000, NULL, 0)
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [MANCC], [TENSP], [SOLUONG], [DONGIA], [HINHANH], [XOA]) VALUES (3, 1, 1, N'Aquafina', 1000, 6000, NULL, 0)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [DF_KHACHHANG_XOA]  DEFAULT ((0)) FOR [XOA]
GO
ALTER TABLE [dbo].[LOAINHANVIEN] ADD  CONSTRAINT [DF_LOAINHANVIEN_XOA]  DEFAULT ((0)) FOR [XOA]
GO
ALTER TABLE [dbo].[LOAISANPHAM] ADD  CONSTRAINT [DF_LOAISANPHAM_XOA]  DEFAULT ((0)) FOR [XOA]
GO
ALTER TABLE [dbo].[NHACUNGCAP] ADD  CONSTRAINT [DF_NHACUNGCAP_XOA]  DEFAULT ((0)) FOR [XOA]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_XOA]  DEFAULT ((0)) FOR [XOA]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [DF_SANPHAM_XOA]  DEFAULT ((0)) FOR [XOA]
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADONNHAP_HOADONNHAP] FOREIGN KEY([MAHDN])
REFERENCES [dbo].[HOADONNHAP] ([MAHDN])
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP] CHECK CONSTRAINT [FK_CHITIETHOADONNHAP_HOADONNHAP]
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADONNHAP_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP] CHECK CONSTRAINT [FK_CHITIETHOADONNHAP_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETHOADONXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADONXUAT_HOADONXUAT] FOREIGN KEY([MAHDX])
REFERENCES [dbo].[HOADONXUAT] ([MAHDX])
GO
ALTER TABLE [dbo].[CHITIETHOADONXUAT] CHECK CONSTRAINT [FK_CHITIETHOADONXUAT_HOADONXUAT]
GO
ALTER TABLE [dbo].[CHITIETHOADONXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADONXUAT_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHOADONXUAT] CHECK CONSTRAINT [FK_CHITIETHOADONXUAT_SANPHAM]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNHAP_KHACHHANG] FOREIGN KEY([MANV])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK_HOADONNHAP_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADONXUAT]  WITH CHECK ADD  CONSTRAINT [FK_HOADONXUAT_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADONXUAT] CHECK CONSTRAINT [FK_HOADONXUAT_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADONXUAT]  WITH CHECK ADD  CONSTRAINT [FK_HOADONXUAT_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADONXUAT] CHECK CONSTRAINT [FK_HOADONXUAT_NHANVIEN]
GO
ALTER TABLE [dbo].[LICHSUTICHDIEM]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUTICHDIEM_HOADONXUAT] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADONXUAT] ([MAHDX])
GO
ALTER TABLE [dbo].[LICHSUTICHDIEM] CHECK CONSTRAINT [FK_LICHSUTICHDIEM_HOADONXUAT]
GO
ALTER TABLE [dbo].[LICHSUTICHDIEM]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUTICHDIEM_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[LICHSUTICHDIEM] CHECK CONSTRAINT [FK_LICHSUTICHDIEM_KHACHHANG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_LOAINHANVIEN] FOREIGN KEY([LOAINV])
REFERENCES [dbo].[LOAINHANVIEN] ([MALOAI])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_LOAINHANVIEN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISANPHAM]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NHACUNGCAP]
GO
